{% extends 'main/base.html' %}
{% load static %}

{% block title %}
PDF Joiner
{% endblock title %}

{% block script %}
<script src="{% static 'main/index.js' %}"></script>
{% endblock script %}

{% block bodyblock %}

{% if request.user.is_authenticated %}
    <form id="pdfForm" method="POST">
        {% csrf_token %}
        <small>Enter the name of the joined PDF file.</small>
        <input type="text" id="title" class="form-control" placeholder="PDF Title" required>
        <br>
        <input type="file" multiple required>
        <input type="submit" class="btn btn-primary mt-4">
    </form>
    <br>
    <a href="{% url 'logout' %}"><button>Logout</button></a>

{% endif %}
{% endblock bodyblock %}