{% extends 'main/base.html' %}

{% block bodyblock %}
<div>
    {% if message%}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
</div>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" class="form-control" required autofocus>
    <input type="password" name="password" placeholder="password" class="form-control" required>
    <input type="submit" class="btn btn-primary mt-4">
</form>
<p>Forgot your password? <a href="/reset">Click Here</a></p>
<p>New here? <a href="{% url 'register' %}">Register</a></p> <br>
<p><a href="{% url 'index' %}"><button class="btn btn-primary">Home</button></a></p>
{% endblock bodyblock %}