{% extends 'main/base.html' %}

{% block bodyblock %}
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" class="form-control" required>
    <input type="email" name="email" placeholder="email" class="form-control" required>
    <input type="password" name="password" placeholder="password" class="form-control" required>
    <input type="password" name="password2" placeholder="re-enter password" class="form-control" required>
    <input type="submit" class="btn btn-primary mt-4">
</form>

<p>Have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock bodyblock %}