{% extends 'main/base.html' %}

{% block bodyblock %}
{% if message %}
    <div class="alert alert-danger">{{ message }}</div>
{% endif %}
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username" class="form-control" required autofocus>
    <input type="email" name="email" placeholder="email" class="form-control" required>
    <input type="password" name="password" placeholder="password" class="form-control" required>
    <input type="password" name="password2" placeholder="re-enter password" class="form-control" required>
    <input type="submit" class="btn btn-primary mt-4">
</form>

<p>Have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock bodyblock %}

{% block footerblock %}
    <footer>
        <p><b>For any query/problems click <a href="mailto:abdullah.rafi01@northsouth.edu">here</a>!</p>
        <p><b>© 2020 Copyright: <a style="text-decoration: none;" href="https://pdfjoined.herokuapp.com/">Team PDF Joiner</a></b></p>
    </footer>
{% endblock footerblock %}