{% extends 'main/base.html' %}

{% block title %}
Password Reset Page
{% endblock title %}

{% block bodyblock %}
    <div class="jumbotron container" style="text-align:center;">
        <a href="{% url 'index' %}"><h2>PDF Joiner</h2></a>
        <br>
        <h3><center>Passwor Reset Page!</center></h2>
        <br>
        <h5>Forgot your <i>password</i>?</h5>
        <br>
        <p>Enter your <strong>email</strong> address below and we will email you the instructions for setting up a new one.</p>
        <br>
        <p>Please make sure that the email is <strong>valid</strong>. Thank you.</p>
        <br>
        <form method="POST">
            {% csrf_token %}
            <Strong>
            {{form.as_p}}
            </Strong>
            <input class="btn btn-danger" type="submit" name="send email">
        </form>
        <br>
        <a href="{% url 'login' %}"><Button class="btn btn-primary">Go Back</Button></a>
    </div>
{% endblock bodyblock %}