{% extends 'main/base.html' %}

{% block title %}
Success!!
{% endblock title %}

{% block bodyblock %}
    <div class="jumbotron container" style="text-align:center;">
        <a href="{% url 'index' %}"><h2>PDF Joiner</h2></a>
        <br>
        <h3>Password Reset Completed!</h3>
        <br>
        <p>You password has been set. You may go ahed and login now.</p>
        <br>
        <a href="{% url 'login' %}"><Button class="btn btn-primary">Login</Button></a>
    </div>
{% endblock bodyblock %}