{% extends 'main/base.html' %}

{% block title %}
Password Reset Form
{% endblock title %}

{% block bodyblock %}
    <div class="jumbotron container" style="text-align:center;">
        <a href="{% url 'index' %}"><h2>PDF Joiner</h2></a>
        <br>
        <h4>Please enter your new password <i>twice</i> to verify!</h4>
        <br><br>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <input class="btn btn-danger" id="sub" type="submit" name="update password">
        </form>
    </div>
{% endblock bodyblock %}