{% extends 'main/base.html' %}

{% block title %}
Reset Email Sent
{% endblock title %}

{% block bodyblock %}
    <div class="jumbotron container" style="text-align:center;">
        <a href="{% url 'index' %}"><h2>PDF Joiner</h2></a>
        <br>
        <h3>Password Reset Link Sent!</h3>
        <br>
        <p>We’ve emailed you instructions for setting your password, if an account <strong>exists</strong> with the email you entered. You should receive them shortly.<br><br>If you don’t receive an email, please make sure you’ve entered the address you registered with, and <strong>check</strong> your <i>spam folder</i>.</p>
        <br>
        <a href="{% url 'login' %}"><Button class="btn btn-primary">Login</Button></a>
    </div>
{% endblock bodyblock %}